/*general css*/
body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}
p{
  margin-bottom: 0.2rem;
}
h6{
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
img{
  max-height: 20em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Navigation */
.navbar{
  background-color: #22668A ;
}
.category-aktif{
  background-color: #22668A ;
  color: white;
}
.d-flex{
  margin-bottom: 0.5rem;
}
.dropdown-menu{
  text-align: right;
}
.nav-link{
  margin-right: 0.5rem;
}
.nav-item{
  margin-right: 0.5rem;
}

/*Error Display */
#error > div{
  background-color: red;
  text-align: center;
  height: 2em;
}
#error > div > p{
  display: inline;
}
#error > div > button{
  float: right;
  margin-right: 2em;
}


/*Assets*/
.assets{
  width:25rem;
  transition: 0.3s;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 1em;
  margin: 5px auto;
}
.assets:hover{
  background-color: #b1b2de;
  cursor: pointer;
}
.active{
  background-color: #b1b2de;
  cursor: pointer;
}


/*Submodels*/
.card{
  margin-top: 0;
  transition: 0.3s;
  width: auto;
  height: 100%;
  padding:2rem 2rem 2rem 2rem;
  overflow: scroll;
  overflow-x: hidden;
}
.Collapsible {
  background-color: #fff;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;

}
.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: 0;
}
.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}
.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding: 10px;
  background: #b1b2de;
  border-radius: 10px;
  margin-right: 1rem;
}
.Collapsible__trigger:after {
  content: '\02C5';
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms;

}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}


/* unknown */
.newprodukt{
  display: flex;
  width: 1000px;
  height: 725px;
  padding: 10px;
  margin: auto;
  box-shadow: rgba(49, 50, 49, 0.88) 0px 7px 29px 0px ;
}
.box{
  margin-top:20px;
  margin-left: 30px;
  width: 450px;
  height: 650px;

}
.py-10{
  padding: 10px;
}
.server{
  width:35rem;
  justify-content: center;
  margin: auto;
}

.tab { margin-left: 30px; }

/*scrollbar*/
::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-thumb{
  background: #22668A;
  border-radius: 10px;
}

.scrollbox{
  position: fixed;
  height: 75%;
  display: flex;
  flex-direction: column;
  width: 32%;
}
.scrollbox-inner{
  overflow:scroll ;
  overflow-x: hidden;
}
.scrollbox-submod {
  position: fixed;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 62%;
}
.innersubmod{

  overflow:scroll ;
  overflow-x: hidden;



}
