body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  margin-bottom: 0;
}
.navbar{
  background-color: #22668A ;
}
.category-aktif{
  background-color: #22668A ;
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.d-flex{
  margin-bottom: 0.5rem;
}

.produkt{
  width: 400px;
  height: 40px;
  margin-top: 5x;
  margin-top: 5px;
  transition: 0.3s;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.produkt:hover{
  background-color: rgb(122, 103, 208);
  color: white;
  cursor: pointer;
}

.active{
  background-color: rgb(122, 103, 208);
  color: white;
  cursor: pointer;
}

h6{
  text-align: center;
}
.newprodukt{
  display: flex;
  width: 1000px;
  height: 725px;

  padding: 10px;
  margin: auto;
  box-shadow: rgba(49, 50, 49, 0.88) 0px 7px 29px 0px ;
}
.box{
  margin-top:20px;
  margin-left: 30px;
  width: 450px;
  height: 650px;


}


.py-10{
  padding: 10px;
}

.Collapsible {
  border: none;
  margin-bottom: 5px;
}


.Collapsible__contentInner {
  margin-left: 0.5em;
  padding: 10px;
  background-color: #ebebef;
  border-radius: 10px;
}

img{
  max-height: 20em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper{
  padding: 10px;
  background-color: #ddd3f1;
  height: 50px;
  border: 2px solid gray;
  border-radius: 10px;

}

.wrapper:hover{
  background-color: rgb(122, 103, 208);
  color: white;
  cursor: pointer;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
  margin-bottom: 10px;
}
p{
  margin-top: 5px;
}